flows.json
[{"id":"f058a75c.d67dc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4fd6c068.2d831","type":"http request","z":"f058a75c.d67dc","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://octopi.local/api/printer/bed?history=true&limit=2","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":80,"wires":[["fa3211fe.eacf88"]]},{"id":"4394270.6a403d8","type":"inject","z":"f058a75c.d67dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":240,"wires":[["661ce5f7.a4252c"]]},{"id":"661ce5f7.a4252c","type":"function","z":"f058a75c.d67dc","name":"HEADERS ","func":"msg.payload={\"command\":\"status\"};\nmsg.headers={};\nmsg.headers['X-api-key']='C4B2BC442EC6478CB72891B145A0B2AA';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":240,"wires":[["4fd6c068.2d831","f52209e8.3bc2c","3921a498.30475c","a6e35974.c97a98","59f9e450.cf8b9c"]]},{"id":"fa3211fe.eacf88","type":"json","z":"f058a75c.d67dc","name":"","property":"payload","action":"","pretty":false,"x":670,"y":80,"wires":[["11b9b23d.a9ffe6"]]},{"id":"11b9b23d.a9ffe6","type":"function","z":"f058a75c.d67dc","name":"","func":"msg.payload=msg.payload.bed.actual;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":80,"wires":[["7fe4111a.ef6c"]]},{"id":"800f9484.ed2858","type":"json","z":"f058a75c.d67dc","name":"","property":"payload","action":"","pretty":false,"x":650,"y":140,"wires":[["b57245be.8692d8"]]},{"id":"f52209e8.3bc2c","type":"http request","z":"f058a75c.d67dc","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://octopi.local/api/printer/tool?history=true&limit=2","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":140,"wires":[["800f9484.ed2858"]]},{"id":"b57245be.8692d8","type":"function","z":"f058a75c.d67dc","name":"","func":"msg.payload=parseFloat(msg.payload.tool0.actual);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":140,"wires":[["fec056c7.a571e"]]},{"id":"fec056c7.a571e","type":"influxdb out","z":"f058a75c.d67dc","influxdb":"67ec7fca.e4f56","name":"","measurement":"hotend","precision":"","retentionPolicy":"","x":1060,"y":140,"wires":[]},{"id":"7fe4111a.ef6c","type":"influxdb out","z":"f058a75c.d67dc","influxdb":"67ec7fca.e4f56","name":"","measurement":"bed","precision":"","retentionPolicy":"","x":1050,"y":80,"wires":[]},{"id":"3921a498.30475c","type":"http request","z":"f058a75c.d67dc","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://octopi.local/api/connection","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":260,"wires":[["7b145561.2d9374"]]},{"id":"b1a5fcb0.ebe47","type":"function","z":"f058a75c.d67dc","name":"","func":"msg.payload=msg.payload.state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":260,"wires":[["bb50e88b.a0451"]]},{"id":"7b145561.2d9374","type":"json","z":"f058a75c.d67dc","name":"","property":"payload","action":"","pretty":false,"x":630,"y":260,"wires":[["10761c72.e7c0ec"]]},{"id":"10761c72.e7c0ec","type":"change","z":"f058a75c.d67dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":260,"wires":[["b1a5fcb0.ebe47"]]},{"id":"bb50e88b.a0451","type":"influxdb out","z":"f058a75c.d67dc","influxdb":"67ec7fca.e4f56","name":"","measurement":"current","precision":"","retentionPolicy":"","x":1220,"y":260,"wires":[]},{"id":"a6e35974.c97a98","type":"http request","z":"f058a75c.d67dc","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://octopi.local/api/job","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":340,"wires":[["8ad93d74.1dc26"]]},{"id":"8ad93d74.1dc26","type":"json","z":"f058a75c.d67dc","name":"","property":"payload","action":"","pretty":false,"x":660,"y":340,"wires":[["567ceb09.430cc4"]]},{"id":"567ceb09.430cc4","type":"change","z":"f058a75c.d67dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.job","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":340,"wires":[["c0708023.d968a"]]},{"id":"e862b243.730e2","type":"function","z":"f058a75c.d67dc","name":"","func":"msg.payload=msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":340,"wires":[["83d4be8e.6f9c3"]]},{"id":"83d4be8e.6f9c3","type":"influxdb out","z":"f058a75c.d67dc","influxdb":"67ec7fca.e4f56","name":"","measurement":"name","precision":"","retentionPolicy":"","x":1450,"y":320,"wires":[]},{"id":"7a5bc573.9be67c","type":"json","z":"f058a75c.d67dc","name":"","property":"payload","action":"","pretty":false,"x":650,"y":400,"wires":[["bb6db14.810495"]]},{"id":"bb6db14.810495","type":"change","z":"f058a75c.d67dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.progress","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":460,"wires":[["dbada913.e9d118"]]},{"id":"59f9e450.cf8b9c","type":"http request","z":"f058a75c.d67dc","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://octopi.local/api/job","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":400,"wires":[["7a5bc573.9be67c"]]},{"id":"dbada913.e9d118","type":"change","z":"f058a75c.d67dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.completion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":460,"wires":[["fdefdd1a.7a022","a89664d3.3df8d8"]]},{"id":"7480ac79.057be4","type":"influxdb out","z":"f058a75c.d67dc","influxdb":"67ec7fca.e4f56","name":"","measurement":"progreso","precision":"","retentionPolicy":"","x":1460,"y":380,"wires":[]},{"id":"fdefdd1a.7a022","type":"function","z":"f058a75c.d67dc","name":"","func":"if (msg.payload==100){\n    msg.payload=0;\n    return msg;\n} else{\n    msg.payload=parseInt(msg.payload);\n    return msg;    \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":380,"wires":[["7480ac79.057be4"]]},{"id":"a89664d3.3df8d8","type":"function","z":"f058a75c.d67dc","name":"","func":"msg.payload=parseInt(msg.payload);\nif(msg.payload==100){\n    msg.payload=\"Impresión lista\"\n} else {\n    msg.payload=\"En progreso\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":480,"wires":[["fa0ddeb.29b002"]]},{"id":"d699cf06.d1d44","type":"mysql","z":"f058a75c.d67dc","mydb":"4b004e38.77ee9","name":"","x":770,"y":1040,"wires":[["4420356f.661cfc"]]},{"id":"fa0ddeb.29b002","type":"debug","z":"f058a75c.d67dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":500,"wires":[]},{"id":"c0708023.d968a","type":"change","z":"f058a75c.d67dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":340,"wires":[["e862b243.730e2"]]},{"id":"f3303403.427488","type":"inject","z":"f058a75c.d67dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":620,"wires":[["dfae5c94.2ab4f","4549a611.9e5d08"]]},{"id":"dfae5c94.2ab4f","type":"file in","z":"f058a75c.d67dc","name":"","filename":"/home/p4b10r/Escritorio/octocmms/app/comenzados.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":430,"y":580,"wires":[["ff7c4822.403cc8"]]},{"id":"d3349b8a.c2aff8","type":"function","z":"f058a75c.d67dc","name":"","func":"var msg1=[];\n\nfor (var i=0;i<msg.payload.length;i++){\n    msg1.push(Date.parse(msg.payload[i].col2));\n    \n}\n\nmsg.payload=msg1;\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":640,"wires":[["c9a6ec24.e47ce","1e1482c1.04868d"]]},{"id":"ff7c4822.403cc8","type":"csv","z":"f058a75c.d67dc","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":", col2,","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":730,"y":560,"wires":[["d3349b8a.c2aff8"]]},{"id":"c9a6ec24.e47ce","type":"function","z":"f058a75c.d67dc","name":"","func":"var msg1=[];\n\nfor (var i=0;i<msg.payload.length-1;i++){\n    msg1.push(msg.payload[i+1]-msg.payload[i]);\n    \n}\n\nmsg.payload=msg1;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":640,"wires":[["7d26b2f8.8fdfdc"]]},{"id":"7d26b2f8.8fdfdc","type":"function","z":"f058a75c.d67dc","name":"","func":"var div=msg.payload.length;\nvar sum=0;\nfor (var i=0;i<msg.payload.length;i++){\n    sum=msg.payload[i]+sum;\n}\nvar prom=sum/div;\nmsg.payload=parseInt(prom/60000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":740,"wires":[["afbca6b7.05d978","458cc050.19e12"]]},{"id":"afbca6b7.05d978","type":"influxdb out","z":"f058a75c.d67dc","influxdb":"67ec7fca.e4f56","name":"","measurement":"mtbf","precision":"","retentionPolicy":"","x":1430,"y":720,"wires":[]},{"id":"82c085b9.361838","type":"catch","z":"f058a75c.d67dc","name":"","scope":null,"uncaught":false,"x":200,"y":820,"wires":[["f47cb671.e67188"]]},{"id":"f47cb671.e67188","type":"debug","z":"f058a75c.d67dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":900,"wires":[]},{"id":"4549a611.9e5d08","type":"file in","z":"f058a75c.d67dc","name":"","filename":"/home/p4b10r/Escritorio/octocmms/app/terminados.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":420,"y":700,"wires":[["4cba8b2a.05c654"]]},{"id":"4cba8b2a.05c654","type":"csv","z":"f058a75c.d67dc","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":", col2,","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":780,"wires":[["1eacf4d8.c8bfab"]]},{"id":"1eacf4d8.c8bfab","type":"function","z":"f058a75c.d67dc","name":"","func":"var msg1=[];\n\nfor (var i=0;i<msg.payload.length;i++){\n    msg1.push(Date.parse(msg.payload[i].col2));\n    \n}\n\nmsg.payload=msg1;\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":820,"wires":[["1e1482c1.04868d"]]},{"id":"1e1482c1.04868d","type":"join","z":"f058a75c.d67dc","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":800,"wires":[["2e805c5a.7609a4"]]},{"id":"2e805c5a.7609a4","type":"function","z":"f058a75c.d67dc","name":"","func":"msg1=[];\n\nif (msg.payload[0].length==msg.payload[1].length){\n    for (var i=0;i<msg.payload[0].length;i++){\n        var a=msg.payload[0][i];\n        var b=msg.payload[1][i];\n        diff=b-a;\n        msg1.push(diff);\n    \n    }\n    \n    msg.payload=msg1;\n\n    return msg;    \n} else {\n    return null\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":920,"wires":[["daaf09f6.4d9968"]]},{"id":"daaf09f6.4d9968","type":"function","z":"f058a75c.d67dc","name":"","func":"/*var div=msg.payload.length;\nvar sum=0;\nfor (var i=0;i<msg.payload.length;i++){\n    sum=msg.payload[i]+sum;\n}\nvar prom=sum/div;\nmsg.payload=parseInt(prom/60000);\nreturn msg;*/\n\nvar div=msg.payload.length;\nvar sum=0;\n\nfor(var i=0;i<msg.payload.length;i++){\n    sum=msg.payload[i]+sum;\n}\nvar prom=sum/div;\nmsg.payload=prom/60000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":920,"wires":[["a46cb195.0c75d","458cc050.19e12"]]},{"id":"a46cb195.0c75d","type":"influxdb out","z":"f058a75c.d67dc","influxdb":"67ec7fca.e4f56","name":"","measurement":"mttr","precision":"","retentionPolicy":"","x":1430,"y":860,"wires":[]},{"id":"1b9e477a.314a39","type":"debug","z":"f058a75c.d67dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1770,"y":920,"wires":[]},{"id":"458cc050.19e12","type":"join","z":"f058a75c.d67dc","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":800,"wires":[["9cbe4661.e4bc28"]]},{"id":"9cbe4661.e4bc28","type":"function","z":"f058a75c.d67dc","name":"","func":"msg.payload=(msg.payload[0]/(+msg.payload[0]+msg.payload[1]))*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":800,"wires":[["4bb3fb87.573644"]]},{"id":"4bb3fb87.573644","type":"influxdb out","z":"f058a75c.d67dc","influxdb":"67ec7fca.e4f56","name":"","measurement":"conf","precision":"","retentionPolicy":"","x":1630,"y":780,"wires":[]},{"id":"f2c2e1de.507c5","type":"function","z":"f058a75c.d67dc","name":"","func":"msg.payload=['test', 222, 222];\nmsg.topic=\"INSERT INTO terminadas (`pieza`, `tiempo_impresion`,`filamento`) VALUES (?, ?, ?);\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":1040,"wires":[["d699cf06.d1d44"]]},{"id":"3630c422.60fccc","type":"inject","z":"f058a75c.d67dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":1040,"wires":[["f2c2e1de.507c5"]]},{"id":"4420356f.661cfc","type":"debug","z":"f058a75c.d67dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":1080,"wires":[]},{"id":"67ec7fca.e4f56","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"livemetrics","name":"","usetls":false,"tls":""},{"id":"4b004e38.77ee9","type":"MySQLdatabase","z":"","name":"","host":"localhost","port":"9000","db":"mydb","tz":"","charset":"UTF8"}]